body {
  background:#f1f1f1;
  color:#1f1f1f;
  font:100%/1.6 "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  margin:0;
  padding:0;
}

a, a:visited {
  color:#e1523d;
  border-bottom:1px solid #f00;
  text-decoration:none;
}

a:focus, a:hover {
  color:#f00;
}